In [1]:
import pandas as pd

data = {
    'player': ['Kohli', 'Rohit', 'Dhoni', 'Smith', 'Warner'],
    'runs': [45, 30, 65, 50, 85],
    'team': ['RCB', 'MI', 'CSK', 'RR', 'DC'],
    'status': ['Not Out', 'Out', 'Not Out', 'Out', 'Not Out']
}

df = pd.DataFrame(data)

def show(df, n=5):
    """Simulate PySpark's show() - display first n rows"""
    print(" show() - Displaying the first 5 rows:")
    print(df.head(n))  

def display(df):
    """Simulate display() in Jupyter or Databricks"""
    print("ðŸ“‹ display() - Displaying data in tabular format:")
    from IPython.display import display as ipython_display
    ipython_display(df)
show(df, 3)
display(df)

 show() - Displaying the first 5 rows:
  player  runs team   status
0  Kohli    45  RCB  Not Out
1  Rohit    30   MI      Out
2  Dhoni    65  CSK  Not Out
ðŸ“‹ display() - Displaying data in tabular format:

   player  runs team   status
0   Kohli    45  RCB  Not Out
1   Rohit    30   MI      Out
2   Dhoni    65  CSK  Not Out
3   Smith    50   RR      Out
4  Warner    85   DC  Not Out