In [2]:
import pandas as pd
file_path = "C:\\Users\\sures\\OneDrive\\Desktop\\P1L17\\ipl_commentary_data.csv"
df = pd.read_csv(file_path)
df.head(), df.columns

C:\Users\sures\AppData\Local\Temp\ipykernel_20432\978935212.py:3: DtypeWarning: Columns (9,21,24,25,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

(   year series_type                 series_name   match_no match_type  \
 0  2021  T20 League  Indian Premier League 2021  1st Match    T20 IPL
 1  2021  T20 League  Indian Premier League 2021  1st Match    T20 IPL
 2  2021  T20 League  Indian Premier League 2021  1st Match    T20 IPL
 3  2021  T20 League  Indian Premier League 2021  1st Match    T20 IPL
 4  2021  T20 League  Indian Premier League 2021  1st Match    T20 IPL

    match_id                                        match_venue match_status  \
 0     35612  {'stadium': 'MA Chidambaram Stadium', 'city': ...    completed
 1     35612  {'stadium': 'MA Chidambaram Stadium', 'city': ...    completed
 2     35612  {'stadium': 'MA Chidambaram Stadium', 'city': ...    completed
 3     35612  {'stadium': 'MA Chidambaram Stadium', 'city': ...    completed
 4     35612  {'stadium': 'MA Chidambaram Stadium', 'city': ...    completed

             match_winning_team match_tie_breaker  ... team1_players  \
 0  Royal Challengers Bangalore               NaN  ...            []
 1  Royal Challengers Bangalore               NaN  ...            []
 2  Royal Challengers Bangalore               NaN  ...            []
 3  Royal Challengers Bangalore               NaN  ...            []
 4  Royal Challengers Bangalore               NaN  ...            []

                                          team1_bench team1_support_staff  \
 0  Nathan Coulter-Nile, Piyush Chawla, Dhawal Kul...                 NaN
 1  Nathan Coulter-Nile, Piyush Chawla, Dhawal Kul...                 NaN
 2  Nathan Coulter-Nile, Piyush Chawla, Dhawal Kul...                 NaN
 3  Nathan Coulter-Nile, Piyush Chawla, Dhawal Kul...                 NaN
 4  Nathan Coulter-Nile, Piyush Chawla, Dhawal Kul...                 NaN

   team2_captain team2_players  \
 0           NaN            []
 1           NaN            []
 2           NaN            []
 3           NaN            []
 4           NaN            []

                                          team2_bench team2_support_staff  \
 0  Adam Zampa, Devdutt Padikkal, Sachin Baby, Nav...                 NaN
 1  Adam Zampa, Devdutt Padikkal, Sachin Baby, Nav...                 NaN
 2  Adam Zampa, Devdutt Padikkal, Sachin Baby, Nav...                 NaN
 3  Adam Zampa, Devdutt Padikkal, Sachin Baby, Nav...                 NaN
 4  Adam Zampa, Devdutt Padikkal, Sachin Baby, Nav...                 NaN

    ball_no  over_no                                    ball_commentary
 0        1      0.1  Siraj to Rohit, 2 runs, straightaway into the ...
 1        2      0.2  Siraj to Rohit, no run, full ball on middle, d...
 2        3      0.3  Siraj to Rohit, no run, indications of the pac...
 3        4      0.4  Siraj to Rohit, 2 runs, short of length around...
 4        5      0.5  Siraj to Rohit, no run, short of length delive...

 [5 rows x 32 columns],
 Index(['year', 'series_type', 'series_name', 'match_no', 'match_type',
        'match_id', 'match_venue', 'match_status', 'match_winning_team',
        'match_tie_breaker', 'match_toss', 'umpires', 'match_referee',
        'third_umpires', 'match_datetime', 'team1_name', 'team2_name',
        'team1_score', 'team1_wickets', 'team2_score', 'team2_wickets',
        'team1_captain', 'team1_players', 'team1_bench', 'team1_support_staff',
        'team2_captain', 'team2_players', 'team2_bench', 'team2_support_staff',
        'ball_no', 'over_no', 'ball_commentary'],
       dtype='object'))

In [3]:
df['match_datetime'] = pd.to_datetime(df['match_datetime'], errors='coerce')
df['date'] = df['match_datetime'].dt.date
df['time'] = df['match_datetime'].dt.time
df[['match_datetime', 'date', 'time']].head()

             match_datetime        date      time
0 2021-04-09 19:30:00+05:30  2021-04-09  19:30:00
1 2021-04-09 19:30:00+05:30  2021-04-09  19:30:00
2 2021-04-09 19:30:00+05:30  2021-04-09  19:30:00
3 2021-04-09 19:30:00+05:30  2021-04-09  19:30:00
4 2021-04-09 19:30:00+05:30  2021-04-09  19:30:00